<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../styles/property-details.css">
</head>

<body>

    <div id="top-nav">
        <div>
            <p>Welcome to Conbusi consulting service</p>
        </div>
        <div id="top-nav-contact">
            <span>
                <i class="fa-solid fa-envelope org-color"></i>
                <span><a href="mailto@info@docmed.com" class="a-default">info@docmed.com</a></span>
            </span>
            <span>
                <i class="fa-solid fa-phone org-color"></i>
                <span><a href="tel:1601-609 6780" class="a-default">1601-609 6780</a></span>
            </span>
            <span>
                <i class="fa-brands fa-linkedin-in link-icon"></i>
                <i class="fa-brands fa-facebook-f link-icon"></i>
                <i class="fa-brands fa-google-plus-g link-icon"></i>
            </span>
        </div>
    </div>

    <div id="nav-bar">
        <div>
            <img src="./../assets/images/logo.png.webp" alt="Logo">
        </div>
        <div id="nav-links">
            <ul>
                <li><a href="./../index.html" class="a-default">Home</a></li>
                <li>
                    <a href="#" class="a-default">
                        Pages<i class="fa-solid fa-angle-down"></i>
                    </a>

                </li>
                <li><a href="./property.html" class="a-default">Property</a></li>
                <li><a href="#" class="a-default">Blog</a><i class="fa-solid fa-angle-down"></i></li>
                <li><a href="./contact-us.html" class="a-default">Contact</a></li>
            </ul>
        </div>
        <div id="search">
            <a href="#" class="a-default"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#" class="a-default button">Add Property</a>
        </div>
    </div>

    <div id="property-details">
        <div id="left-content">
            <h1>Comfortable Apartment in Palace</h1>
            <span id="location"><img src="./../assets/icons/location.svg" alt="location icon">200/A, Greenland, Texaro,
                USA</span>
            <div id="icon-content">
                <div>
                    <img src="./../assets/icons/square-orange.svg" alt="square-icon"> <br>
                    <span>
                        1200 Sqft
                    </span>
                </div>

                <div>
                    <img src="./../assets/icons/bed-orange.svg" alt="bed-icon"> <br>
                    <span>
                        2 Bed
                    </span>
                </div>

                <div>
                    <img src="./../assets/icons/bath-orange.svg" alt="bath-icon"> <br>
                    <span>
                        2 Bath
                    </span>
                </div>
            </div>
        </div>
        <div id="price-detail">
            <span>$4567</span>
            <p><a href="tel:+10 367 457 735">+10 367 457 735</a></p>
        </div>
    </div>
    <div id="prop-img-div">
        <img src="./../assets/images/property_details.png.webp" alt="property-details" id="property-img">
        <div id="description">
            <h3>Description</h3>
            <p>While there are countless Trips out there in charity shops and car boot sales, you can also buy
                refurbished examples, with replacement leatherette available in all colors. I love my Trip and use it
                regularly something so refreshing about its simplicity.
                <br><br>
                While there are countless Trips out there in charity shops and car boot sales, you can also buy
                refurbished examples, with replacement leatherette available in all colors. I love my Trip and use it
                regularly something so refreshing about its simplicity.
                <br><br>
                While there are countless Trips out there in charity shops and car boot sales, you can also buy
                refurbished examples, with replacement leatherette available in all colors. I love my Trip and use it
                regularly something so refreshing about its simplicity.
            </p>
            <div id="contact-us">
                <form action="#">
                    <h3>Contact Us</h3>
                    <div id="first-row">
                        <input type="text" name="name" id="name" placeholder="Your Name">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <input type="tel" name="phonenumber" id="phonenumber" placeholder="Phone no.">
                    </div>
                    <div>
                        <textarea name="message" id="message" rows="10" placeholder="Message"></textarea>
                    </div>
                    <div>
                        <button id="send-btn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="add-property">
        <div>
            <div>
                <h1>Add your property for sale</h1>
            </div>
            <div>
                <span>
                    +10 637 367 4567
                    <a href="#" class="a-default" id="add-property-btn">Add Property</a>
                </span>
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="brand-info">
            <img src="./../assets/images/footer_logo.png.webp" alt="footer-logo">
            <p>conbusi@support.com </p>
            <p>+10 873 672 6782 </p>
            <p>600/D, Green road, NewYork </p>
            <div id="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div>
            <h4 class="footer-header">Services</h4>
            <ul>
                <li><a href="#">Marketing & SEO</a></li>
                <li><a href="#">Startup</a></li>
                <li><a href="#">Finance solution</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Travel</a></li>
            </ul>
        </div>
        <div>
            <h4 class="footer-header">Useful Links</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Appointment</a></li>
            </ul>
        </div>
        <div id="subscribe">
            <h4 class="footer-header">Subscribe</h4>
            <form action="#">
                <div>
                    <input type="email" placeholder="Enter your mail">
                    <button>Subscribe</button>
                </div>
                <p>Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
            </form>
        </div>

    </div>

</body>

</html>