<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./../styles/single-blog.css">
</head>

<body>
    <div id="top-nav">
        <div>
            <p>Welcome to Conbusi consulting service</p>
        </div>
        <div id="top-nav-contact">
            <span>
                <i class="fa-solid fa-envelope org-color"></i>
                <span><a href="mailto@info@docmed.com" class="a-default">info@docmed.com</a></span>
            </span>
            <span>
                <i class="fa-solid fa-phone org-color"></i>
                <span><a href="tel:1601-609 6780" class="a-default">1601-609 6780</a></span>
            </span>
            <span>
                <i class="fa-brands fa-linkedin-in link-icon"></i>
                <i class="fa-brands fa-facebook-f link-icon"></i>
                <i class="fa-brands fa-google-plus-g link-icon"></i>
            </span>
        </div>
    </div>

    <div id="nav-bar">
        <div>
            <img src="./../assets/images/logo.png.webp" alt="Logo">
        </div>
        <div id="nav-links">
            <ul>
                <li><a href="./../index.html" class="a-default">Home</a></li>
                <li>
                    <a href="#" class="a-default">
                        Pages<i class="fa-solid fa-angle-down"></i>
                    </a>

                </li>
                <li><a href="./property.html" class="a-default">Property</a></li>
                <li><a href="#" class="a-default">Blog</a><i class="fa-solid fa-angle-down"></i></li>
                <li><a href="./contact-us.html" class="a-default">Contact</a></li>
            </ul>
        </div>
        <div id="search">
            <a href="#" class="a-default"><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="#" class="a-default button">Add Property</a>
        </div>
    </div>

    <div id="container">
        <div id="hero-container">
            <div id="hero-content">
                <h1>Blog Details</h1>
            </div>
        </div>
    </div>

    <div id="blog-container">
        <div class="blog">
            <div class="blog-img">
                <img src="./../assets/images/single_blog_1.png.webp" alt="Blog1">
            </div>
            <div class="blog-content">
                <h2><a href="#" class="a-default">Second divided from form fish beast made every of seas all gathered us
                        saying he our</a></h2>
                <span class="icon-travel"><a href="#" class="a-default"><i class="fa-regular fa-user"></i> Travel,
                        Lifestyle</a></span>
                <span class="icon-comment"><a href="#" class="a-default"><i class="fa-solid fa-comments"></i> 03
                        Comments</a></span>
                <p>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should
                    have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of
                    the camp price. However, who has the willpower
                    <br> <br>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should
                    have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of
                    the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
                    who has the willpower to actually
                </p>
                <div id="content-container">
                    <div id="in-container">
                        <p id="highlight"><i>MCSE boot camps have its supporters and its detractors. Some people do not
                                understand why you should have to spend money on boot camp when you can get the MCSE
                                study materials yourself at a fraction of the camp price. However, who has the willpower
                                to actually sit through a self-imposed MCSE training.</i></p>
                    </div>
                </div>
                <p>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should
                    have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of
                    the camp price. However, who has the willpower
                    <br> <br>
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should
                    have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of
                    the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training.
                    who has the willpower to actually
                </p>
            </div>
            <div id="brand-icon">
                <div>
                    <i class="fa-solid fa-heart"></i> Lily and 4 people like this
                </div>
                <div>
                    <i class="fa-brands fa-facebook-f"></i><i class="fa-brands fa-twitter"></i><i
                        class="fa-brands fa-dribbble"></i><i class="fa-brands fa-behance"></i>
                </div>
            </div>

            <div id="post-nav">
                <div style="text-align: left;">
                    <ul>
                        <li><img src="./../assets/images/previouspost.png" alt="previous"></li>
                        <li>
                            <p>Prev Post</p>
                            <h4><a href="#" class="a-default">Space The Final Frontier</a></h3>
                        </li>
                    </ul>
                </div>
                <div style="text-align: right;">
                    <ul>
                        <li>
                            <p>Next Post</p>
                            <h4><a href="#" class="a-default">Telescopes 101</a></h3>
                        </li>
                        <li><img src="./../assets/images/nextpost.png" alt="next"></li>
                    </ul>
                </div>
            </div>

            <div id="author">
                <div>
                    <img src="./../assets/images/author.png.webp" alt="author">
                </div>
                <div>
                    <h4><a href="#" class="a-default">Harvard milan</a></h4>
                    <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he our
                        dominion twon Second divided from</p>
                </div>
            </div>

            <div id="comments">
                <h4 id="comment-count">05 Comments</h4>
                <div class="comment">
                    <div>
                        <img src="./../assets/images/comment_1.png.webp" alt="comment1">
                    </div>
                    <div>
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser</p>
                        <div class="blog-info">
                            <div>
                                <h4><a href="#" class="a-default">Emilly Blunt</a>
                                    <span class="created">December 4, 2017 at 3:12 pm</span>
                                </h4>
                            </div>
                            <div>
                                <h4><a href="#" class="a-default">REPLY</a></h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="comment">
                    <div>
                        <img src="./../assets/images/comment_2.png.webp" alt="comment2">
                    </div>
                    <div>
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser</p>
                        <div class="blog-info">
                            <div>
                                <h4><a href="#" class="a-default">Emilly Blunt</a>
                                    <span class="created">December 4, 2017 at 3:12 pm</span>
                                </h4>
                            </div>
                            <div>
                                <h4><a href="#" class="a-default">REPLY</a></h4>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="comment">
                    <div>
                        <img src="./../assets/images/comment_3.png.webp" alt="comment3">
                    </div>
                    <div>
                        <p>
                            Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                            Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser</p>
                        <div class="blog-info">
                            <div>
                                <h4><a href="#" class="a-default">Emilly Blunt</a>
                                    <span class="created">December 4, 2017 at 3:12 pm</span>
                                </h4>
                            </div>
                            <div>
                                <h4><a href="#" class="a-default">REPLY</a></h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="contact">
                <div id="contact-form">
                    <h3>Leave a Reply</h3>
                    <div>
                        <div>
                            <textarea name="comment" id="comment" rows="12" placeholder="Write Comment"></textarea>
                        </div>
                        <div id="input-name">
                            <input type="text" name="name" id="name" placeholder="Name">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        <div>
                            <input type="text" name="website" id="website" placeholder="Website">
                        </div>
                        <button id="send-btn">SEND MESSAGE</button>
                    </div>
                </div>
            </div>

        </div>

        <div id="side-bar">
            <div id="search-form">
                <div>
                    <input type="search" name="search" id="search" placeholder="Search Keyword">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <button class="side-btn">SEARCH</button>
                </div>
            </div>

            <div id="category">
                <h4 class="side-header">Category</h4>
                <ul>
                    <li><a href="#" class="a-default">Resaurant food(37)</a></li>
                    <li><a href="#" class="a-default">Travel news(10)</a></li>
                    <li><a href="#" class="a-default">Modern technology(03)</a></li>
                    <li><a href="#" class="a-default">Product(11)</a></li>
                    <li><a href="#" class="a-default">Inspiration(21)</a></li>
                    <li style="border-bottom: none;"><a href="#" class="a-default">Health Care(09)</a></li>
                </ul>
            </div>

            <div id="recent-posts">
                <h4 class="side-header">Recent Post</h4>
                <table>
                    <tbody>
                        <tr>
                            <td><img src="./../assets/images/recent-post_1.png" alt="Recent post 1"></td>
                            <td>
                                <h4><a href="#" class="a-default">From life was you fish...</a></h4>
                                <p>January 12, 2019</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="./../assets/images/recent-post_2.png" alt="Recent post 2"></td>
                            <td>
                                <h4><a href="#" class="a-default">The Amazing Hubble</a></h4>
                                <p>02 Hours ago</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="./../assets/images/recent-post_3.png" alt="Recent post 3"></td>
                            <td>
                                <h4><a href="#" class="a-default">Astronomy Or Astrology</a></h4>
                                <p>03 Hours ago</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="./../assets/images/recent-post_4.png" alt="Recent post 4"></td>
                            <td>
                                <h4><a href="#" class="a-default">Asteroids telescope</a></h4>
                                <p>01 Hours ago</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="tag-cloud">
                <h4 class="side-header">Tag Clouds</h4>
                <div>
                    <a href="#" class="side-tag">project</a>
                    <a href="#" class="side-tag">love</a>
                    <a href="#" class="side-tag">technology</a>
                    <a href="#" class="side-tag">travel</a>
                    <a href="#" class="side-tag">resaurant</a>
                    <a href="#" class="side-tag">life style</a>
                    <a href="#" class="side-tag">design</a>
                    <a href="#" class="side-tag">illustration</a>
                </div>
            </div>

            <div id="instagram-feed">
                <h4 class="side-header">Instagram Feeds</h4>
                <div>
                    <img src="./../assets/images/insta-post_5.png" alt="insta post1">
                    <img src="./../assets/images/insta-post_6.png" alt="insta post2">
                    <img src="./../assets/images/insta-post_7.png" alt="insta post3">
                    <img src="./../assets/images/insta-post_8.png" alt="insta post4">
                    <img src="./../assets/images/insta-post_9.png" alt="insta post5">
                    <img src="./../assets/images/insta-post_10.png" alt="insta post6">
                </div>
            </div>

            <div id="newsletter">
                <h4 class="side-header">Newsletter</h4>
                <div>
                    <input type="email" name="email" id="email" placeholder="Enter email">
                    <button class="side-btn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>



    <div id="footer">
        <div id="brand-info">
            <img src="./../assets/images/footer_logo.png.webp" alt="footer-logo">
            <p>conbusi@support.com </p>
            <p>+10 873 672 6782 </p>
            <p>600/D, Green road, NewYork </p>
            <div id="icons">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
        <div>
            <h4 class="footer-header">Services</h4>
            <ul>
                <li><a href="#">Marketing & SEO</a></li>
                <li><a href="#">Startup</a></li>
                <li><a href="#">Finance solution</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Travel</a></li>
            </ul>
        </div>
        <div>
            <h4 class="footer-header">Useful Links</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Appointment</a></li>
            </ul>
        </div>
        <div id="subscribe">
            <h4 class="footer-header">Subscribe</h4>
            <form action="#">
                <div>
                    <input type="email" placeholder="Enter your mail">
                    <button>Subscribe</button>
                </div>
                <p>Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
            </form>
        </div>

    </div>

</body>

</html>