body{
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
#top-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#727261;
    background-color: #001D38;
    font-weight: 400;
    gap: 140px;
    font-size: small;
}

#top-nav-contact{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.org-color{
    color:#fdae5c;
}

.a-default{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}


.link-icon{
    color: #C7C7C7;
    font-size: 17px;
    margin-right: 10px;
}

.link-icon:hover{
    color:#fdae5c;
    transition: color 0.5s 0s ease;
}

#container{
    background-image: url('./../assets/images/about-bg');
    background-position: bottom center;
}

#hero-container{
    background-color: rgba(0, 29, 56, 0.6);
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14rem;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    top:0px;
    background-color: #2C2C2C;
    left: 0px;
    z-index: 3;
}

#nav-links ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

#nav-links li{
    font-size: 15px;
    list-style-type: none;
}

.button{
    background: linear-gradient(to bottom, #fdae5c 0%, #fd8e5e 100%);
    border-radius: 30px;
    padding: 15px 30px;
}

#hero-content{
    text-align: center;
    color: #FFFFFF;
    padding: 8rem;
}

#hero-content h1{
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 50px 4rem 50px 10rem;
}

#contact-form{
    flex: 0.7;
}

#contact-form h3{
    font-weight: 500;
    font-size: 30px;
}

#message{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    padding-left: 10px;
}

#message::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

#input-name{
    display: flex;
    column-gap: 20px;
}

#input-name input{
    flex: 0.48;
    
}

input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px 10px 10px;
    margin-top: 20px;
}

input::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

#subject{
    width: 100%;
    margin-bottom: 30px;
}

#send-btn{
    color:#FDAE5C;
    border:1px solid #FDAE5C;
    padding: 20px 40px;
    letter-spacing: 3px;
    background-color: transparent;
}

#send-btn:hover{
    cursor: pointer;
    background-color: #FDAE5C;
    color:#fff;
    transition: background-color 0.3s 0s ease;
}

#contact-details{
    padding-left: 100px;
    flex: 0.3;
}

#contact-details table tr td{
    text-align: left;
}

#contact-details table tr td i{
    font-size: 30px;
    color: #8F9195;
    padding: 20px;
}

.contact-header{
    font-weight: 500;
}

.contact-text{
    color:rgba(0, 0, 0, 0.4);
}


#footer{
    display: flex;
    padding: 10rem 16rem;
    background-color: #F5FBFF;
}

#footer div{
    flex: 0.24;
}

#brand-info p{
    color:#919191;
    font-size: 13px;
}

#brand-info div{
    padding: 30px 0px;
}

#brand-info i{
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding:13px;
    color:#919191;
    margin-right: 5px;
    font-size: 14px;
}

#brand-info i:hover{
    background-color: #FD955D;
    color:#fff;
    cursor: pointer;
    transition: background-color 0.6s 0s ease;
}

.footer-header{
    margin-top: 0px;
    font-weight: 500;
    font-size: 18px;
    color:#001D38;
}

#footer ul {
    padding: 0px;
}

#footer ul li{
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 14px;
}

#footer ul li a{
    text-decoration: none;
    color:#919191;
}

#footer ul li a:hover{
    transition: color 0.3s 0s ease;
    color:#FD955D;
}

#subscribe div{
    position: relative;
}

#subscribe p{
    color:#919191;
    font-size: 13px;
}

#subscribe input{
    color: #919191;
    width: 90%;
    padding: 14.5px 15px;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

#subscribe input::placeholder{
    font-size: 16px;
}

#subscribe button{
    background-color: #FD955D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-weight: 500;
    position: absolute;
    bottom:6px;
    right: 0px;
}