body{
    font-family: "Poppins", sans-serif;
    margin: 0px;
}
#top-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:#727261;
    background-color: #001D38;
    font-weight: 400;
    gap: 140px;
    font-size: small;
}

#top-nav-contact{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.org-color{
    color:#fdae5c;
}

.a-default{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}


.link-icon{
    color: #C7C7C7;
    font-size: 17px;
    margin-right: 10px;
}

.link-icon:hover{
    color:#fdae5c;
    transition: color 0.5s 0s ease;
}

#container{
    background-image: url('./../assets/images/about-bg');
    background-position: bottom center;
}

#hero-container{
    background-color: rgba(0, 29, 56, 0.6);
}

#nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14rem;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    position: sticky;
    top:0px;
    background-color: #2C2C2C;
    left: 0px;
    z-index: 3;
}

#nav-links ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

#nav-links li{
    font-size: 15px;
    list-style-type: none;
}

.button{
    background: linear-gradient(to bottom, #fdae5c 0%, #fd8e5e 100%);
    border-radius: 30px;
    padding: 15px 30px;
}

#hero-content{
    text-align: center;
    color: #FFFFFF;
    padding: 8rem;
}

#hero-content h1{
    font-size: 40px;
    font-weight: 600;
    margin: 0px;
}

#blog-container{
    padding: 50px 12rem;
    display: flex;
}

.blog{
    flex: 0.6;
}

.blog-img{
    position: relative;
}


.blog-content a:hover{
    color: #FDAE5C;
    transition: color 0.3s 0s ease;
}

.blog-content h2{
    font-weight: 600;
    margin: 10px 0px;
    color:#001D38;
}

.blog-content p{
    font-weight: 300;
    color:rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    font-size: 15px;
}

.icon-travel{
    color: rgba(0, 0, 0, 0.7);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    padding-right: 20px;
    font-weight: 500;
    font-size: 14px;
}

.icon-comment{
    color: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    font-weight: 500;
    font-size: 14px;
}

#content-container{
    background-color: #F2F3F7;
    padding: 30px;
}

#highlight{
    font-size: 16.7px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

#in-container{
    background-color: #fff;
    padding: 20px;
    border-left: 2px solid rgba(0, 0, 0, 0.4);
}

#brand-icon{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

#brand-icon i{
    margin-right: 10px;
}

#post-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#post-nav div h4{
    margin: 0px;
    font-weight: 500;
    color: #001D38;
}

#post-nav div p{
    margin: 0px;
    font-weight: 300;
}

#post-nav div ul {
    display: flex;
    padding: 0px;
}

#post-nav div ul li{
    padding: 10px;
    list-style-type: none;
}

#author{
    background-color: #FBF9FF;
    padding: 30px 30px;
    margin: 50px 0px;
    display: flex;
}

#author h4{
    margin: 0px;
    padding-left: 10px;
    font-weight: 500;
    color: #001D38;
    margin-bottom: 10px;
}

#author p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    padding-left: 10px;
    font-size: 15px;
}

#comments{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#comment-count{
    font-weight: 500;
    color: #001D38;
    font-size: 18px;
    margin-bottom: 30px;
}

.comment{
    display: flex;
    margin-bottom: 30px;
}

.comment h4{
    margin: 10px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.comment h4 span{
    margin-left: 30px;
    font-size: 14px;
    font-weight: 300;
}

.comment p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px;
    padding-left: 20px;
    font-size: 15px;
}

.blog-info{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#contact{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

#contact-form h3{
    font-weight: 500;
    margin: 30px 0px;
    font-size: 20px;
}

#comment{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    resize: none;
    padding-left: 10px;
}

#comment::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    padding-top: 14px;
    padding-left: 14px;
}

#input-name{
    display: flex;
    column-gap: 20px;
}

#input-name input{
    flex: 0.48;
    
}

input{
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px 10px 10px;
    margin-top: 20px;
}

input::placeholder{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
}

#website{
    width: 100%;
    margin-bottom: 30px;
}

#send-btn{
    color:#FDAE5C;
    border:1px solid #FDAE5C;
    padding: 20px 40px;
    letter-spacing: 3px;
    background-color: transparent;
}


#side-bar{
    flex: 0.4;
    margin: 10px 2rem;
}

#side-bar div{
    background-color: #FBF9FF;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: none;
}

#search-form div{
    position: relative;
}

#search-form div input{
    width: 100%;
    padding: 15px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#search-form div i{
    position: absolute;
    top: 27px;
    right: 20px;
    color: rgba(0, 0, 0, 0.3);
}

#search-form div input::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

.side-btn{
    width: 100%;
    padding: 15px 7px;
    background-color: #fff;
    color: #fdae5c;
    letter-spacing: 3px;
    border:1px solid #fdae5c;
    margin-top: 20px;
}

.side-btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #fdae5c;
    transition: background-color 0.3s 0s ease;
}

.side-header{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    padding-top: 0px;
    margin: 0px;
    margin-top: 10px;
    color: #001D38;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#category ul{
    padding: 0px 10px;
}

#category ul li{
    list-style-type: none;
    padding: 15px 5px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
}

.a-default:hover{
    color:#fdae5c;
    transition: color 0.3s 0s ease;
}

#recent-posts table tbody tr td {
    padding: 10px;
}

#recent-posts table tbody tr td h4{
    margin: 0px;
    color: #001D38;
    font-size: 15px;
    font-weight: 500;
}

#recent-posts table tbody tr td p{
    margin: 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.side-tag{
    text-decoration: none;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 13px;
    padding: 5px 15px;
    margin-right: 7px;
    margin-bottom: 10px;
}

#instagram-feed div img{
    margin: 0.7px;
}

#email{
    width: 100%;
    padding: 15px 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#email::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}


#footer{
    display: flex;
    padding: 10rem 16rem;
    background-color: #F5FBFF;
}

#footer div{
    flex: 0.24;
}

#brand-info p{
    color:#919191;
    font-size: 13px;
}

#brand-info div{
    padding: 30px 0px;
}

#brand-info i{
    border:1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding:13px;
    color:#919191;
    margin-right: 5px;
    font-size: 14px;
}

#brand-info i:hover{
    background-color: #FD955D;
    color:#fff;
    cursor: pointer;
    transition: background-color 0.6s 0s ease;
}

.footer-header{
    margin-top: 0px;
    font-weight: 500;
    font-size: 18px;
    color:#001D38;
}

#footer ul {
    padding: 0px;
}

#footer ul li{
    list-style-type: none;
    padding-bottom: 20px;
    font-size: 14px;
}

#footer ul li a{
    text-decoration: none;
    color:#919191;
}

#footer ul li a:hover{
    transition: color 0.3s 0s ease;
    color:#FD955D;
}

#subscribe div{
    position: relative;
}

#subscribe p{
    color:#919191;
    font-size: 13px;
}

#subscribe input{
    color: #919191;
    width: 90%;
    padding: 14.5px 15px;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

#subscribe input::placeholder{
    font-size: 16px;
}

#subscribe button{
    background-color: #FD955D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    font-weight: 500;
    position: absolute;
    bottom:6px;
    right: 0px;
}